button {
    font-size:16px;
    width:100px;
    margin:10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}

.counterButton {    
    background-color: #00a5ab;    
}

.resetButton {
    background-color: #224466;
}

.count {
    font-size: 34px;
    padding: 7px;
}

.totalCount {
    font-size: 34px;
    padding: 7px;
    color: #00a5ab;
}